.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .player {
    text-align: center;
    display: flex;
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin-top: 0px;
    font-family:"Pacifico",cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 1.5rem;
    color: #4ECCA3;
    font-family: 'Silkscreen',sans-serif;
    padding:0 50px 0 50px;
  }

  
  img {
    width: 40%;
  }
  
  footer {
    margin-top: 3%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  